*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #c9c9c9;
}

.group-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  margin: 0px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  background: #000;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 550px;
  z-index: 0;
}

.sign-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: clamp(20px, 2vh, 100px);
  font-weight: 600;
  display: none;
  color: #1100ff;
  position: absolute;
  letter-spacing: 1px;
  left: 75px;
  top: 55px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  margin: 0px;
  padding: 10px 15px;
  gap: 15px;
  background: #fff;
  /* box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3); */
  z-index: 0;
}
.form-box img {
  width: 100px;
  /* height: 200px; */
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(11px, 1vh, 100px);
  font-weight: 400;
  color: #818181;
  margin: 0px;
  padding: 3px 5px;
}

.input-field {
  width: 100%;
  min-width: 250px;
  font-size: clamp(14px, 1vh, 100px);
  margin: 0px;
  padding: 5px 10px 5px 5px;
  border: none;
  border-bottom: 1px solid #000;
  /* border-radius: 8px; */
}

.preview-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.action-btn {
  margin: 0px;
  background: #1100ff;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}

#preview-btn {
  padding: 10px 15px;
  background: #000;
}

#submit-btn {
  padding: 10px 45px;
}

.submit-btn:hover {
  background: none;
  color: #000;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.submit-btn:active {
  background: #29fa56;
  color: #000;
  /* border: 1px solid #000; */
}

.already-have-account {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(11px, 1vh, 100px);
  font-weight: 400;
}

.already-have-account a {
  text-decoration: none;
  font-size: clamp(12px, 1vh, 100px);
}

#password {
  padding: 5px 30px 5px 5px;
}

.password-box {
  position: relative;
}

.checked {
  margin: 0px;
  width: 25px;
  position: absolute;
  top: 8px;
  right: 5px;
}

.detail-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 1px 2px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  background: #202020;
  background: linear-gradient(-160deg, #1100ff, #cf18fd, #000);
  /* outline: 2px solid blue; */
}

.detail-box {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  margin: 0px;
  padding: 5px 15px 15px;
  border-radius: 0px 5px 5px 0px;
  backdrop-filter: blur(20px);
  /* background: rgba(0, 0, 0, 0.85); */
  background: rgba(22, 224, 90, 0.5);
  /* color: #464545; */
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vh, 100px);
  font-weight: bold;
  outline: 1px solid #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s ease;
}

.user-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* background: #3307f8; */
}

.user-detail h3 {
  margin: 0px;
  padding: 5px 10px;
  /* background: #949494; */
  background: #eedebf;
  border-radius: 5px;
  /* color: #464545; */
  color: #1b1b1b;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vh, 100px);
}

.user-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 5px 10px;
  width: 100%;
  /* background: #f80707; */
}

.unitdetail {
  display: block;
  color: #fff !important;
  /* min-width: 120px; */
  /* justify-self: end; */
}

.user-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 1.5vh, 100px);
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}

.bg-drop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-size: clamp(20px, 2vh, 100px);
  /* background: rgba(80, 37, 209, 0.85); */
  /* background: rgba(0, 0, 0, 0.85); */
  /* color: #000; */
  /* background: none; */
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  text-align: center;
  margin: auto;
  padding: 5px 5px;
  width: 100%;
  /* top: 0; */
  inset: 0;
  /* z-index: 0; */
  border-radius: 0px 0px 10px 10px;
  transform: translateY(0);
  transition: transform 0.6s ease-out;
  /* opacity: 1; */
  gap: 2px;
}

.bg-drop.hidden {
  transform: translateY(-400%);
}

.profile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  padding: 10px 5px;
  width: 100%;
  top: 125px;
  z-index: 1;
}

.bio-banner {
  background-image: url("../Images/onetcoverpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 160px; */
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  height: 130px;
  position: relative;
}

.profile-pix {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: radial-gradient(145deg, #cf18fd, #00ff6a, #1100ff);
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 60px;
  transform: translate(-50%, -50%);
}

.profile-pix img {
  width: 75px;
  height: 75px;
  /* border: 2px solid #00ff6a; */
  border: 2px solid #1100ff;
  border-radius: 50%;
  page-break-inside: 0px;
  padding: 1px;
}

.bio-details {
  text-align: justify;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 1vh, 100px);
  font-weight: 300;
  background: #1b1b1b;
  /* backdrop-filter: blur(10px); */
  z-index: -1;
  color: #c9c9c9;
  border: 1px solid rgba(17, 0, 255, 0.95);
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  padding: 40px 10px 5px;
  width: 100%;
  position: relative;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 167px;
  position: absolute;
  right: -70px;
  top: 20px;
  transform: translate(-50%, -50%);
}

.cta-button {
  background: none;
  /* color: #c9c9c9; */
  color: #fff;
  margin: 0px;
  min-width: 80px;
  padding: 3px 10px;
  border: 0.2px solid #494949;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
}

#signin-button {
  background: #1100ff;
}

.cta-button:hover {
  background: #fff !important;
  color: #1b1b1b;
  border: 0.2px solid #000;
}

.table {
  margin: 0px;
  padding: 0px;
  /* margin-top: 260px; */
  /* max-height: 100px; */
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vh, 100px);
  font-weight: bold;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 485px;
  left: 50%;
  width: 96%;
}

.th {
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(13px, 1vh, 100px);
  /* font-weight: bold; */
}

.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 60px; */
  /* text-align: center; */
  background: #000000;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  /* width: 100%; */
  line-height: 15px;
  /* margin: auto; */
  padding: 5px 25px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.level-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 1vh, 100px);
  width: 25px;
  height: 25px;
  border-radius: 35%;
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
}

.level1 {
  background: #e6b650;
}

.level2 {
  background: #f700ff;
}

.level3 {
  background: #7950f3;
}

.level-indicator:hover {
  border-radius: 50%;
  padding: 10px;
  border: 0.2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7);
}

.pricing-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 1vh, 100px);
  font-weight: 400;
  width: 100%;
  margin: 0px;
  padding: 5px 2px;
  /* background: #aaaaaa; */
  color: #000;
  border-radius: 5px;
}

.session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 2px 10px;
}

.time-stamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 2px 10px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 2px 10px;
}

.rows-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 3px;
  line-height: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  /* color: #d1d0d0; */
  margin: 0px;
  padding: 5px;
  border: 1px solid rgb(0, 255, 157);
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  max-height: 450px;
  overflow-y: auto;
}

.tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 1vh, 20px);
  font-weight: 300px;
  /* letter-spacing: 0px; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #1b1b1b;
  color: #b8b6b6;
  margin: 0px;
  padding: 10px 2px 2px;
  gap: 10px;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
  position: relative;
}

.active-indicator {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #29fa56;
  transform: translate(-50%, -50%);
  top: 8px;
  left: 8px;
  border: 1px solid #29fa56;
  box-shadow: 0 0 2px 1px rgba(41, 250, 86, 0.7);
}

.inactive-indicator {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fa2929;
  transform: translate(-50%, -50%);
  top: 10px;
  left: 10px;
  border: 1px solid #fa2929;
  box-shadow: 0 0 2px 1px rgba(250, 41, 41, 0.7);
}

.active-status {
  border: 1px solid #29fa56;
  box-shadow: 0 0 2px 1px rgba(41, 250, 86, 0.7);
}

.inactive-status {
  border: 1px solid #fa2929;
  box-shadow: 0 0 2px 1px rgba(250, 41, 41, 0.7);
}

@media screen and (max-width: 780px) {
  .table {
    margin: 0px;
    padding: 0px;
    /* margin-top: 260px; */
    /* max-height: 100px; */
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 2vh, 100px);
    font-weight: bold;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 482px;
    left: 50%;
    width: 96%;
  }
}

@media screen and (max-width: 620px) {
  .table {
    margin: 0px;
    padding: 0px;
    /* margin-top: 260px; */
    /* max-height: 100px; */
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 2vh, 100px);
    font-weight: bold;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 50%;
    width: 96%;
  }

  form {
    margin: 0px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background: #000;
    position: relative;
    /* height: 100%; */
  }

  .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 20px 15px;
    padding-top: 50px;
    gap: 12px;
    background: #fff;
    /* box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3); */
    z-index: 0;
  }

  .detail-group {
    margin: 0px;
    padding: 2px 1px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
    /* background: #202020; */
    background: linear-gradient(-160deg, #1100ff, #cf18fd, #000);
  }

  .detail-box {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px 15px 20px;
    border-radius: 0px 0px 5px 5px;
    backdrop-filter: blur(20px);
    /* background: rgba(0, 0, 0, 0.85); */
    background: rgba(22, 224, 90, 0.5);
    color: #464545;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 2vh, 100px);
    font-weight: bold;
    outline: 1px solid #fff;
  }

  .group-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .group-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 350px) {
  .table {
    margin: 0px;
    padding: 0px;
    /* margin-top: 260px; */
    /* max-height: 100px; */
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 2vh, 100px);
    font-weight: bold;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 510px;
    left: 50%;
    width: 96%;
  }

  .group-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}
