*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(#e2e4e4, #0166ff, #5025d1);
    margin: 0px;
    padding: 15px;
    width: 100%;
    max-width: 450px;
    /* overflow: hidden; */
}

.exit-btn {
    width: 180px;
    border: none;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 15px 5px;
    background: linear-gradient(#5025d1, #dce7f8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: clamp(16px, 2vh, 100px);
    font-weight: bold;
    cursor: pointer;
}

.exit-btn:hover {
    background: #5025d1;
}

.exit-btn:active {
    background: linear-gradient(#5025d1, #dce7f8);
    border: 0.1px solid #000;
}

.yes-no {

    width: 40vw;
    min-width: 120px;
    border: none;
    border-radius: 20px;
    margin: 0px;
    padding: 10px 5px;
    /* background: #4e19eb; */
    background: #dd3416;
    /* color: #dbdbdb; */
    color: #ffffff;
    font-size: clamp(18px, 2vh, 100px);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.yes-no:hover {
    background: linear-gradient(#5025d1, #dce7f8);

}

#no-btn {
    /* background: #dd3416; */
    background: #06dd58;
}

#no-btn:hover {
    background: linear-gradient(#5025d1, #dce7f8);
}

.yes-no:active {
    border: 0.2px solid #000;
}

#no-btn:active {
    border: 0.2px solid #000;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 100%;
    max-width: 400px;
    background: #dce7f8;
    margin: 0px;
    padding: 10px 15px 25px;
    border-radius: 30px 30px 0px 0px;
    position: fixed;
    transform: translate(0%, 0%);
    /* left: 0;
    right: 0; */
    bottom: -100%;
    transition: bottom 0.5s ease-in-out;
    display: none;
    box-shadow: 0px -4px 12px 4px rgba(18, 38, 63, 0.2);
}

.handle-bar {
    width: 50px;
    height: 5px;
    background: #ccc;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.popup h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 2vh, 100px);
    text-align: center;
    padding: 25px 0px 2px;
}

.y-n-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0px;
}
